
@font-face{
  font-family:'Myriadpro-Bold'; src:url('../fonts/myriadpro_bold.otf');
}

@font-face{
  font-family:'Myriadpro-Regular'; src:url('../fonts/myriadpro-regular.otf');
}

@font-face{
  font-family:'Myriadpro-Semibold'; src:url('../fonts/myriadpro-semibold.otf');
}

header {position:fixed;top:0;left:0;right:0;background:#fff;z-index:9;}
body {overflow-x: hidden;}

html {
    scroll-behavior: smooth;
}

a:hover, a:focus {text-decoration:none;}

.t-r {text-align:right;}



header.top {background: #ee2d5a;padding: 15px 0;margin-bottom: 0;display: inline-block;position: fixed;top: 0;}
header.top .sign {display: inline-block;color: #fff;font-family: 'Myriadpro-Bold';font-size: 20px;line-height: normal;transition:.6s;border-bottom:1px #fff solid;}
header.top .sign:hover {color:#0c3561;transition:.6s;border-bottom:1px #0c3561 solid;}

.portada-principal {background:url('../images/portada_principal.jpg');min-height: 85vh;background-size: cover;background-position: center;margin-top:55px;}
.btn-signup {position: absolute;bottom:-130px;left: 0;right: 0;text-align: center;}

.bajada-cust-top {display: inline-block;color: #fff;font-family: 'Myriadpro-Regular';margin-right: 10px;font-size: 14px;margin-bottom: 0;}
.bajada-cust-bajada {font-family: 'Myriadpro-Regular';display: block;color: #000;margin-top: -25px;margin-bottom: 0;font-size: 16px;}

.first-content {padding:150px 0 100px;background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(233,240,244,.6) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,.6)), color-stop(100%, rgba(233,240,244,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(233,240,244,.6) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(233,240,244,.6) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(233,240,244,.6) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(233,240,244,.6) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9f0f4', GradientType=0 );}
.first-content h3 {font-family:'Myriadpro-Bold';color:#1E4986;font-size: 34px;}
.first-content p {margin:0;font-family:'Myriadpro-Regular';color:#000;line-height: normal;font-size:19px;}

.micro-section {background:url('../images/degrade_amarillo.jpg');background-position:top center;background-size:cover;padding:80px 0 70px;text-align: center;}

.micro-section h3 {font-family: 'Myriadpro-Semibold';color: #fff;font-size: 36px;}
.micro-section p {margin: 0;font-family: 'Myriadpro-Regular';color: #fff;font-size: 19px;}

.image-micro {background: rgba(204,204,204,1);
background: -moz-linear-gradient(left, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 31%, rgba(255,255,255,1) 69%, rgba(204,204,204,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(204,204,204,1)), color-stop(31%, rgba(255,255,255,1)), color-stop(69%, rgba(255,255,255,1)), color-stop(100%, rgba(204,204,204,1)));
background: -webkit-linear-gradient(left, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 31%, rgba(255,255,255,1) 69%, rgba(204,204,204,1) 100%);
background: -o-linear-gradient(left, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 31%, rgba(255,255,255,1) 69%, rgba(204,204,204,1) 100%);
background: -ms-linear-gradient(left, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 31%, rgba(255,255,255,1) 69%, rgba(204,204,204,1) 100%);
background: linear-gradient(to right, rgba(204,204,204,.5) 0%, rgba(255,255,255,1) 31%, rgba(255,255,255,1) 69%, rgba(204,204,204,.5) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#cccccc', GradientType=1 );}
.image-micro h4 {font-family: 'Myriadpro-Semibold';color: #EBA403;border-top: 20px #EBA403 solid;display: inline-block;padding: 5px 5px;font-size: 36px;margin-top: -10px;}

.second-content {background:url('../images/fondo_bottom.jpg');min-height:100vh;background-position:bottom center;background-size:cover;}

.second-content .container {height:100vh;}

.content-carousel {background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(233,240,244,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(233,240,244,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(233,240,244,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(233,240,244,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(233,240,244,1) 100%);
background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(233,240,244,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9f0f4', GradientType=0 );
padding:70px 0 65px;}

.logo-01 {max-width: 150px;margin-bottom: 20px;}

.content-carousel h6 {font-family: 'Myriadpro-Regular';margin: 0;}
.content-carousel h4 {font-family: 'Myriadpro-Bold';margin: 0 0 5px;line-height: normal;}
.content-carousel p {font-family: 'Myriadpro-Regular';margin: 0;font-size: 20px;line-height: normal;color: #686868;}
.content-carousel .link {font-family: 'Myriadpro-Semibold';color: #FF0000;border-bottom: 1px #FF0000 solid;font-size: 20px;display: inline-block;margin: 10px 0 0;transition:.6s;}
.content-carousel .link:hover {color:#000;border-color:#000;transition:.6s;}

.newsletter {background:#02AAF0;padding:70px 0;}
.newsletter h3 {color: #fff;font-family: 'Myriadpro-Bold';font-size: 37px;}
.newsletter p {font-family: 'Myriadpro-Regular';color: #fff;margin: 0;font-size: 19px;}
.newsletter form {display: inline-block;width: 100%;margin-top: 40px;}

.newsletter form p {font-size: 15px;text-align: center;}
.newsletter form input {width:100%;background: #58D3FF;border: none;padding: 10px 20px;font-family: 'Myriadpro-Regular';line-height: normal;}
.newsletter form input[type=submit] {width:100%;border:none;background:none;font-family: 'Myriadpro-Bold';text-align:left;}

footer {padding:50px 0 25px;background:#05022D;}
footer p {margin: 30px 0 0;color: #fff;font-family: 'Myriadpro-Regular';}

.absolute-line {position: absolute;bottom: -10px;right:0;}
.absolute-line .linea-top {background: #0E2E85;height: 25px;width: 175px;}

.redes {margin:30px 0 0;}
.redes a {display:inline-block;margin:0 5px;}
.redes a i {color:#fff;font-size:23px;}

section {clear:both;}

.absolute-text {position: absolute;top: 0;bottom: 0;right: 25%;}
.right-absolute .absolute-text {right: 20%;}
.absolute-text h3 {color:#fff;font-family:'Myriadpro-Bold';font-size:31px;}
.absolute-text p {color:#fff;font-family:'Myriadpro-Regular';margin:0;line-height: normal;font-size: 23px;}

.absolute-text-02 {position: absolute;top: 0;bottom: 0;left: 25%;}
.absolute-text-02 h3 {color:#000;font-family:'Myriadpro-Bold';font-size:31px;}
.absolute-text-02 p {color:#000;font-family:'Myriadpro-Regular';margin:0;line-height: normal;font-size: 23px;text-align:right;}

.m-pastillas {padding:65px 0;}

.img-link {transition:.6s;display:inline-block;}
.img-link:hover {transform:scale(1.1) rotate(-10deg);transition:.6s;}

.redes .cafe {max-width:18px;}
.redes a {transition:.6s;}
.redes a:hover {opacity:.6;transition:.6s;}

.video {padding:120px;}
.video video {width:100%;height:auto;}

.retails {margin-bottom: 0;text-align: center;padding-bottom: 0;}
.retails h4 {font-family: 'Myriadpro-Regular';margin: 0;font-size: 20px;}
.retails .logos {text-align:center;}
.retails .logos img {display: inline-block;max-width: 150px;margin: 0 15px;}
.retails .logos img.wall {max-width:190px;}

.back-sec-01 {
  background: rgba(196,184,149,1);
  background: -moz-linear-gradient(top, rgba(196,184,149,1) 0%, rgba(237,237,237,1) 50%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(196,184,149,1)), color-stop(50%, rgba(237,237,237,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(top, rgba(196,184,149,1) 0%, rgba(237,237,237,1) 50%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(top, rgba(196,184,149,1) 0%, rgba(237,237,237,1) 50%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(top, rgba(196,184,149,1) 0%, rgba(237,237,237,1) 50%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to bottom, rgba(196,184,149,1) -60%, rgba(237,237,237,1) 65%, rgba(237, 237, 237, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4b895', endColorstr='#ededed', GradientType=0 );
  padding:120px 0 180px;
}

.back-sec-01 h3 {font-family: 'Myriadpro-Bold';margin: 0 0 5px;color: #AC8230;text-align: center;font-size: 33px;}
.back-sec-01 p {color: #B9B9B9;font-family: 'Myriadpro-Regular';margin: 0;text-align: center;font-size: 20px;font-weight: normal;}

.back-sec-02 {
background: rgba(190,145,68,1);
background: -moz-linear-gradient(left, rgba(190,145,68,1) 0%, rgba(190,145,68,1) 29%, rgba(183,171,134,1) 64%, rgba(165,127,52,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(190,145,68,1)), color-stop(29%, rgba(190,145,68,1)), color-stop(64%, rgba(183,171,134,1)), color-stop(100%, rgba(165,127,52,1)));
background: -webkit-linear-gradient(left, rgba(190,145,68,1) 0%, rgba(190,145,68,1) 29%, rgba(183,171,134,1) 64%, rgba(165,127,52,1) 100%);
background: -o-linear-gradient(left, rgba(190,145,68,1) 0%, rgba(190,145,68,1) 29%, rgba(183,171,134,1) 64%, rgba(165,127,52,1) 100%);
background: -ms-linear-gradient(left, rgba(190,145,68,1) 0%, rgba(190,145,68,1) 29%, rgba(183,171,134,1) 64%, rgba(165,127,52,1) 100%);
background: linear-gradient(to right, rgba(190,145,68,1) 0%, rgba(190,145,68,1) 29%, rgba(183,171,134,1) 64%, rgba(165,127,52,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#be9144', endColorstr='#a57f34', GradientType=1 );
padding: 60px 0 110px;
min-height:30vh;
}
.back-sec-02 a {display:inline-block;position:relative;}
.back-sec-02 a .back-nohover {transition:.6s;z-index:1;background: rgba(188, 135, 65, 0.48);position: absolute;top: 0;bottom: 0;left: 0;right: 0;border-radius: 100%;width: 101%;height: 101%;}
.back-sec-02 .container {margin-top: -11%;position:relative;z-index:1}
.back-sec-02 img {max-width:200px}

.back-sec-02 p {font-family: 'Myriadpro-Regular';color: #5D5459;font-size: 22px;margin-top: 20px;margin-bottom: 0;line-height: 1.4;transition:.6s;opacity:0;}
.back-sec-02 p b {font-family:'Myriadpro-Bold';}

.back-sec-02 a:hover .img-gif::before {opacity:1;transition:.6s;}
.back-sec-02 a:hover .back-nohover {background:none;transition:.6s;}
.back-sec-02 a:hover p {opacity:1;transition:.6s;}

.img-gif {position:relative;border-radius:100%;width: 200px;height: 200px;background-size: contain !important;background-repeat: no-repeat !important;background-position: center !important;}
.img-gif::before {opacity:0;transition:.6s;content:'';position: absolute;top: 0;right: 0;bottom: 0;left: 0;z-index: -1;margin: -9px;border-radius: inherit;background: linear-gradient(to right, #99A0B7, #CDD0DC);}


.img-product-center {margin-bottom:50px;}

.cont-r-product h2 {font-family: 'Myriadpro-Bold';font-size: 23px;margin-bottom: 0;color: #848484;}
.cont-r-product ul {padding: 10px 15px;}
.cont-r-product ul li {font-family: 'Myriadpro-Regular';color:#848484;font-size: 28px;line-height:0;margin-bottom:15px;}
.cont-r-product ul li p {font-size: 17px;margin-bottom: 0;line-height: normal;}
.cont-r-product ul li p b {font-family: 'Myriadpro-Bold';}

.content-icons {margin-bottom:40px;}
.content-icons p {font-family: 'Myriadpro-Regular';color: #000;font-size: 17px;max-width: 125px;margin-bottom: auto;margin-right: 15px;margin-top: auto;display: inline-block;width: auto;text-align: right;}
.content-icons p b {font-family: 'Myriadpro-Bold';}

.news {background: rgba(233,240,244,1);
background: -moz-linear-gradient(top, rgba(233,240,244,1) 0%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(233,240,244,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(233,240,244,1) 0%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(233,240,244,1) 0%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(233,240,244,1) 0%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(233,240,244,1) 0%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f0f4', endColorstr='#ffffff', GradientType=0 );
padding:100px 0;} 

.news h5 {font-family: 'Myriadpro-Regular';margin: 0 0 5px;color: #000;font-size: 16px;}
.news h3 {font-family: 'Myriadpro-Bold';color:#000;margin:0;}
.news p {font-family: 'Myriadpro-Regular';margin: 10px 0;color: #686868;font-size: 21px;line-height: normal;}
.news a {color: #FF0000;font-family: 'Myriadpro-Semibold';transition:.6s;text-decoration: underline;font-size: 19px;padding-bottom: 0;line-height: normal;margin-top: 15px;display: inline-block;}
.news a:hover {text-decoration:none;opacity:.5;transition:.6s;}

.cust-antnews hr {margin: 45px 0;border-color: rgba(204, 204, 204, 0.4196078431372549);border-width: 2px;}
.cust-antnews h4 {font-family: 'Myriadpro-Bold';color:#1E4984;font-size: 34px;}
.cust-antnews p {font-family: 'Myriadpro-Regular';color:#000;}

/** MEDIA QUERY **/

@media (max-width: 1440px) {
  .second-content {min-height:620px;}
  .absolute-text {right:20%}
  .absolute-text-02 {left:20%}
  .portada-principal {min-height:560px;}
  .right-absolute .absolute-text {right:15%;}
}

@media (max-width: 1024px) {

  .portada-principal {min-height: 400px;}
  .img-link img {max-width:230px;}
  .absolute-text {right:14%;}
  .absolute-text-02 {left:14%;}
  .content-carousel h4 {font-size:20px;}
  .content-carousel p {font-size:17px;}

}
@media (max-width: 1024px) and (min-width:768px) and (orientation: portrait) {

  .absolute-text, .absolute-text-02 {top: 0;left: 0;right: 0;bottom: 18%;text-align: center;}

}



@media (max-width: 767px) {
  .img-product-center {margin-bottom: 70px;margin-top: 50px;}
  .cont-r-product {padding:0 50px 25px;}
  .content-icons {margin-right: auto;margin-left: auto;justify-content: center !important;margin-top: 40px;margin-bottom: 0;}
  .back-sec-02 a .back-nohover {background:none;}
  .back-sec-02 .container {margin-top: -40%;}
  .back-sec-02 p {margin-bottom:35px;font-size:18px;opacity:1;}
  .back-sec-01 p {padding:0 15px;}
  .back-sec-01 h3 {font-size:25px;}
  .retails .logos img.wall {max-width: 50%;margin: 20px 5px;}
  .video {padding:15px;}
  .bajada-cust-top {text-align:center;width:100%;font-size: 12px;margin-bottom:10px;}
  .second-content {min-height:200px;}
  .second-content .container {height:auto;}
  .portada-principal {min-height:25vh;margin-top:97px;}
  .first-content h3 {font-size:30px;}
  .first-content p {font-size:15px;}

  .absolute-line .linea-top {display:none;}

  .micro-section h3 {font-size:32px;}
  .micro-section p {font-size:17px;}

  .btn-signup img {max-width: 155px;}
  .bajada-cust-bajada {margin-top:-10px;}
  .absolute-line {left:0;right:0;}

  .m-pastillas {margin:45px 0;padding:0;}

  .absolute-text-02 {right: 0;left: 0;bottom:2%;}
  .right-absolute .absolute-text {right: 0;left: 0;bottom:2%;}

  .absolute-text {right: 0;left: 0;bottom:7%;}
  .absolute-text h3, .absolute-text-02 h3 {font-size:19px;}
  .absolute-text p, .absolute-text-02 p {font-size:13px;text-align:center;}

  .content-carousel .link {margin:10px 0 50px;}

  .newsletter form p {text-align:left;}
  .newsletter form input[type=submit] {padding-left:0;}

}
@media (max-width: 375px) {
  .retails .logos img.wall {max-width: 50%;margin: 20px 15px;}
}

@media only screen and (min-width: 320px) and (max-width: 767px)and (orientation: landscape) {
  .portada-principal {min-height:300px ;}
  .absolute-text, .absolute-text-02 {bottom:12%;}
}